---
import { getCollection } from "astro:content";
import PostCard from "@/components/PostCard.astro";
import Link from "@/components/shared/Link.astro";

const posts = (await getCollection("posts")).sort(function (first, second) {
    return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<article class="postsResume">
    <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Ultimos posts</h3>
        <Link href="/posts" label="Ver Todos los Posts" isUnderline target="_self" />
    </header>
    {posts.length === 0 && <p>Soon, stay connected 👀...</p>}

    <section class="postsList">
        {
            posts.length !== 0 &&
                posts
                    .slice(0, 2)
                    .map((post) => (
                        <PostCard
                            publishedAt={post.data.publishedAt}
                            title={post.data.title}
                            description={post.data.description}
                            slug={post.slug}
                            tags={post.data.tags}
                        />
                    ))
        }
        <a class="seeMorecard" href="/posts" title="posts">
            <span>Ver todos los posts</span>
        </a>
    </section>
</article>
